.title {
    margin-right: 7px;
    height: 55px;
}


@media only screen and (max-width: 800px) {

    .ProgressBar {
        font-size: small;
    }

    .title {
        display: flex;
        justify-content: center;
        height: 15px;
    }

}