.ExperienceH1 {
    margin-top: -3px;
    color: #eb9850;
    font-size: 37px;
    font-weight: 400;
    padding: 8px 10px 8px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media all and (max-width: 800px) {
    .ExperienceH1 {
        font-size: xx-large;
    }

    .ExperienceContainer {
        padding-bottom: 15px;
    }
}