:root {
    --margin-top: 16px;
  }



.contact-form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 24px;
}

.arrowImg{
    width: 58px;
    border-radius: 50%;
}

.gmailLabels{
    display: flex;
    justify-content:left;
    margin-top: var(--margin-top);
    color:#f2f261 ;
    /* color:#F1B24A ; */
    font-weight: 600;
    font-size: larg;
}

.sendButton{
    margin-top: var(--margin-top);
    width: 110px;
    border-radius: 7px;
    border: 1px solid white;
}

.imgButton{
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.gmailInput{
    width: 320px;
    border-radius: 6px;
    height: 21px;
}