:root {
    --margin-top: 16px;
}

h1 {
    color: #de9250;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.arrowImg {
    margin-top: 10px;
    width: 58px;
    border-radius: 50%;
}

.gmailLabels {
    display: flex;
    justify-content: left;
    margin-top: var(--margin-top);
    color: #f5a25a;
    font-weight: 600;
    font-size: large;
    margin-bottom: 3px;
}

/* .sendButton {
    margin-top: var(--margin-top);
    width: 110px;
    border-radius: 7px;
    border: 1px solid white;
} */

.imgButton {
    margin-top: 24px;
    width: 51px;
    height: 51px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
}

.otherInput {
    width: 300px;
    border-radius: 6px;
    height: 21px;
    background-color: #acacac;
}

.gmailInput {
    border-radius: 6px;
    max-width: 350px;
    min-width: 300px;
    min-height: 70px;
    max-height: 350px;
    background-color: #acacac;
}