:root {
    --margin-top: 16px;
  }



.contact-form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 24px;
}

.arrowImg{
    margin-top:20px;
    width: 58px;
    border-radius: 50%;
}

.gmailLabels{
    display: flex;
    justify-content:left;
    margin-top: var(--margin-top);
    color:#f5a25a ;
    /* color:#F1B24A ; */
    font-weight: 600;
    font-size: large;
    margin-bottom: 3px;
}

.sendButton{
    margin-top: var(--margin-top);
    width: 110px;
    border-radius: 7px;
    border: 1px solid white;
}

.imgButton{
    margin-top:24px;
    width: 46px;
    height: 46px;
    background-color: transparent;
    cursor: pointer;
}

.otherInput{
    width: 300px;
    border-radius: 6px;
    height: 21px;
}

.gmailInput{
    border-radius: 6px;
    max-width: 350px;
    min-width: 300px;
    min-height: 70px;
    max-height: 350px;
}
