.ExperienceContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 9px 10px 0 20px;

}

h2 {
    margin: 0 auto;
    margin-bottom: 15px;
    color: #eb9850;
    font-size: 30px;
    font-weight: 600;
    width: max-content;
}

hr {
    margin-top: -4px;
}


.workDescription {
    color: #ffffff;
    font-weight: 400;
    font-size: 21px;
    margin: 0 auto;
    width: fit-content;
    padding-top: 11px;
    padding-bottom: 25px;
}


@media all and (max-width: 800px) {
    .ExperienceContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .workDescription {
        color: #ffffff;
        font-weight: 400;
        font-size: 17px;
        margin: 0 auto;
        padding: 0 0 0 0
    }
}