:root {
    --color:#f5a25a;
  }


.navBar{
  overflow: hidden;
  background-color: #333;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  position:-webkit-sticky;
}
.MainContainer{
    display: inline;
    background-color: rgba(156, 160, 159,  0.123);
}

.SceContainer{
    padding-top: 29px;
    /* background: url(../../image/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg) no-repeat center center ;  */
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 950px; */
    padding-top: -50px;
}



.homePageTitle{
    color:var(--color);
    font-family:'Times New Roman", Times, serif';
    font-size: 50px;
    cursor: pointer;
    transition: transform .89s;
    width: fit-content;
    margin: 0 auto;
}

.homePageTitle:hover{
    transform: scale(1.2);
}


.personalDescription{
color:rgb(248, 242, 242);
/* color:rgba(228, 228, 228, 0.795); */
padding-top: 40px;
display: flex;
align-content: center;
justify-content: center;
margin:0px 30px 0px 30px;
font-size: 25px;
}

.H12{
    padding-top: 60px;
}

 .hrLine{
     border-radius: 5px;
     margin-top: 80px;
 }

.links{
    padding-top:100px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    
}

.gitIcon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gitIcon:hover{
    transform: scale(1.5);
}

.linkedin , .gmail , .github{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}
.linkedin:hover{
    transform: scale(1.5);
}

.gmail{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gmail:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 700px) {
    .SceContainer{
        padding: 14px 0 0 0;
    }
    
    .homePageTitle{
        font-size:34px;
        margin-right: 2px;
        padding: 10px 0 0 6px;
        margin: 0 auto;
    }
    .H12{
        padding:0 0 0 0 ;
    }
    .personalDescription{
        font-size:18px;
    }
    .gitIcon{
        width: 40px;
        height: 40px;
    }
    .linkedin{
        width: 40px;
        height: 40px;
    }

    .gmail{
        width: 40px;
        height: 40px;
    }
    .links{
        justify-content: space-around;
        padding:70px 0 0 0;
    }
  }



