:root {
    --color: #f5a25a;
}


.navBar {
    overflow: hidden;
    background-color: #333;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    position: -webkit-sticky;
}

.MainContainer {
    display: inline;
    background-color: rgba(156, 160, 159, 0.123);
}

.SceContainer {
    padding-top: 29px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: -50px;

}



.homePageTitle {
    color: var(--color);
    font-family: 'Times New Roman", Times, serif';
    font-size: 45px;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;


}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1) translateY(-35px);
    }

    50% {
        transform: scale(1, .9) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-7px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}



.homePageTitle {
    animation: bounce 1s ease infinite;
}

.homePageTitle:hover {
    transform: scale(1.2);
    /* transform: rotate(360deg); */
}


.personalDescription {
    color: rgb(248, 242, 242);
    padding-top: 77px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0px 30px 0px 30px;
    font-size: 25px;



    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;

}


.H12 {
    padding-top: 20px;
}

.hrLine {
    border-radius: 5px;
    margin-top: 95px;


    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
}

.links {
    padding-top: 100px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;

}

.gitIcon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gitIcon:hover {
    transform: scale(1.5);
}

.linkedin,
.gmail,
.github {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.linkedin:hover {
    transform: scale(1.5);
}

.gmail {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gmail:hover {
    transform: scale(1.5);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    /* 50% {opacity:0.5;} */
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 800px) {

    .SceContainer {
        padding: 14px 0 14px 0;
        height: max-content;
    }

    .homePageTitle {
        margin-right: 2px;
        padding: 10px 0 0 6px;
        margin: 0 auto;
        font-size: 37px;
    }

    .H12 {
        padding-top: 0px;
        margin-top: 30px;
    }

    .personalDescription {
        font-size: 17px;
        padding-top: 50px;
    }

    .gitIcon {
        width: 40px;
        height: 40px;
    }

    .linkedin {
        width: 40px;
        height: 40px;
    }

    .gmail {
        width: 40px;
        height: 40px;
    }

    .links {
        justify-content: space-around;
        padding: 70px 0 0 0;
    }

    .homePageTitle:hover {
        transform: scale(1.1);
        /* transform: rotate(360deg); */
    }
}