.navBar{
  overflow: hidden;
  background-color: #333;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  position:-webkit-sticky;
}
.MainContainer{
    display: inline;
}

.SceContainer{
    padding-top: 29px;
    /* background: url(../../image/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg) no-repeat center center ;  */
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 950px; */
    padding-top: -50px;

}



.homePageTitle{
    color: whitesmoke;
    font-family:'Times New Roman", Times, serif';
    font-size: 50px;
    cursor: pointer;
    transition: transform .2s;
    width: fit-content;
    margin: 0 auto;
}

.homePageTitle:hover{
    color:royalblue;
    transform: scale(1.12);
}


.personalDescription{
color:rgba(228, 228, 228, 0.795);
padding-top: 40px;
display: flex;
align-content: center;
justify-content: center;
margin:0px 30px 0px 30px;
}

.H12{
    padding-top: 140px;
}

 .hrLine{
     border-radius: 5px;
     margin-top: 80px;
 }

.links{
    padding-top:100px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    
}

.gitIcon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gitIcon:hover{
    transform: scale(1.5);
}

.linkedin , .gmail , .github{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}
.linkedin:hover{
    transform: scale(1.5);
}

.gmail{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.gmail:hover{
    transform: scale(1.5);
}