.h1Project{
    padding: 25px;
    align-items: center;
    font-weight: 500;
    color: #f5a25a;
    margin:auto 0;
}


.WorksContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 35px;
}



@media screen and (max-width: 1300px) {

    .h1Project{
        padding: 25px 0 25px 0;
        font-weight: 300;
        padding-top: 15px;
    }

    .WorksContainer{
        display: flex;
        justify-content: center;
        margin-top: 1px;
        

    }

}
