:root {
    --h1Colors:#f5a25a;
  }
  
  .aboutMeContainer{
    margin-top: 40px;
    font-size: large;
    /* min-width: 360px;
    min-height: 740px; */
    height: 100vh;

}


.container{
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  font-size: large;
  height: max-content;
  
  
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -moz-background-size:cover ;
  background-size: cover;
}  

h1{
    padding-right:18px ;
}

.aboutmeH1{
    color: var(--h1Colors) ;
    margin: 0 auto;
    padding: 10px 0 0 0;
}


.AvatarDiv{
        width: fit-content;
        padding-top:19px;
        margin: 0 auto;
    }


.aboutMe{
    color: rgb(248, 242, 242);
}

.lookingFor{
    font-size:x-large;
    font-weight: 645;
}

.ContactMeContainer{
    /* margin-top: 14px; */
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
}


.ContactMe{
    color: rgba(248, 242, 242, 0.226);
    margin: 3px 0 0 0 ;
}
.contactMeH1{
    color: var(--h1Colors);
    margin-top: 12px;
    margin-bottom: 1px;
}

.downloadButton{
    margin: 0 auto;
    width: 144px;
    height: 47px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    border-radius: 13px;
    border: 2.2px rgb(129, 129, 127) solid  ;
    transition: transform 0.8s;
}


.ContactMeSecContainer{
 margin: 8px 0 5px 0 ;

}


.ContactMe{
    padding-left: 34px;
    color: rgba(245, 243, 239, 0.836);
    display: flex;
    padding-bottom: 3px;
    margin: 3px 0 0 0 ;   
}

.infoAboutMe{
    color:lightcoral;
}


.downloadButton:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.downloadCVButton{
    color: black;
}


@media screen and (max-width: 800px) {

    .aboutmeH1{
        font-size:24px;
    }

    /* .AvatarDiv{ */
        /* padding-top:59px; */
        /* margin-top: 0px; */
    /* } */

    p{
      margin: 7px 0 7px 0;  
      padding: 2px 7px 2px 7px;
    }

    .aboutMe{
        font-size:13px;
    }

    .lookingFor{
        font-size: 15px;
    }

    .contactMeH1{
        font-size: 19px;
        padding: 5px 18px 0 0 ;
        margin: 5px 0 1px 0;
    }

    .downloadButton{
        margin:15px 0 0 0 ;
        width: 134px;
        height: 39px;
    }


    .downloadButton:hover{
        cursor: pointer;
        transform: scale(1.4);
    }
  }