.container{
    display: flex;
    margin-top: 120px;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(156, 160, 159,  0.123);
    height: 1900px;
    font-size: large;
    
    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -moz-background-size:cover ;
    background-size: cover;
}    

h1{
    padding-right:18px ;
}

.aboutmeH1{
    color:rgb(90, 224, 141) ;
}


.AvatarDiv{
        width: fit-content;
        margin:0 0 0 45%;
    }


.aboutMe{
    color: rgb(248, 242, 242);
}

.lookingFor{
    font-size:x-large;
    font-weight: 645;
}

.ContactMeContainer{
    /* margin-top: 14px; */
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
}


.ContactMe{
    color: rgba(248, 242, 242, 0.226);
    margin: 3px 0 0 0 ;
}
.contactMeH1{
    color: rgb(90, 224, 141);
    margin-top: 50px;
    margin-bottom: 5px;
}

.downloadButton{
    margin: 0 auto;
    width: 144px;
    height: 47px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:60px;
    border-radius: 13px;
    border: 2.2px rgb(129, 129, 127) solid  ;
    transition: transform 0.8s;
}

/* .ContactMeContainer{
    margin-top: 14px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
} */

/* .ContactMeSecContainer{
    display: flex;
    flex-direction: column;

} */


.ContactMe{
    padding-left: 34px;
    color: rgba(245, 243, 239, 0.836);
    display: flex;
    padding-bottom: 3px;
    margin: 3px 0 0 0 ;   
}

.infoAboutMe{
    color:lightcoral;
}


.downloadButton:hover{
    cursor: pointer;
    transform: scale(1.3);
}
