.ProgressBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 24px; */
    background-color: rgba(156, 160, 156, 0);
    animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;
}

.mainContainer {
    padding-top: 15px;

}


.H1Education {
    color: #f5a25a;
    font-family: 'Times New Roman", Times, serif';
    font-size: 42px;
    font-weight: 300;
}



@media screen and (max-width: 800px) {
    .ProgressBar {
        height: max-content;
    }

    .mainContainer {
        padding-top: 5px;

    }

    .H1Education {
        font-family: 'Times New Roman", Times, serif';
        font-size: 30px;
        font-weight: 400;
    }
}