 html{

  background-color: 		#272727;
  overflow-x:hidden;  
  overflow-y:auto;
  
}



.App {
  text-align: center;
}

body{ 
     /* overflow: hidden; */
     overflow: hidden; 
   } 


  /* .Home{
    display: flex;
    justify-items: center;
  } */

  