 html{

   background: url(./image/blacklaptop.jpg) no-repeat center center fixed; 
   /* background-color: rgba(129, 129, 127, 0.548); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      }
  
      /* Media query for mobile devices  */
      @media only screen and (max-width: 767px) {
        body {
          background-image: url(./image/blacklaptop.jpg);
        }
      }
   .App {
    text-align: center;
  }

  body{
    overflow: hidden;
  }


  .Home{
    display: flex;
    justify-items: center;
  }