.WorkContainer{
display: flex;
flex-direction: column;
margin:25px 94px 0 94px  ;
}

h2{
    color: #d88a46;
    font-size: 30px;
    font-weight: 600;
}


.pColor{
    color: #ffffff;
    font-weight: 600;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
    width: 272px;
    padding-top: 20px;
}
.LinkContainer{
    display: flex;
    justify-content: space-between;
}

.Link{
    /* margin-top: -19px; */
    padding-bottom: -9px;
    color: aquamarine;
}